/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General layout */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar styles */
.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.nav-container {
    background-color: #333;
    color: #fff;
    display: flex;
    height: 8%;
    max-height: 80px;
    padding: 0 20px;
    align-items: center;
}
.logo {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
}

/* Main content styles */
.site-main {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    background: #eee;
    height: 100vh;
    align-items: center;
}

/* Search bar styles */
.search-bar {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555;
    border-radius: 4px;
}

/*Search Result styles*/
.game-list{
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.game-item{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #ddd;
    border-radius: 4px;
    border: 1px solid #555;
    text-decoration: none;
    gap: 10px;
    padding: 10px;
}
.game-item:hover {
    background-color: #aaa;
} 
.game-thumbnail {
    width: 70px;
    height: 70px;
    border-radius: 3px;
    border: #555 solid 1px;
}
.game-title{
    font-size: 1.2em;
    color: #333;
}

/* Game container styles */
.game-container {
  height: 100%;
  aspect-ratio: 4 / 3;
}
#game-container {
  height: 100%;
}